.banner{
    
    background-image: url(images/banner/banner1.png);
}
.header-item{
    text-align: right;
   margin: 10px;
    
    padding: 150px;
    
    
}
.title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.btn-primary{
    color: #FFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;}
    /* section-styles */
    .section-item{
        display: flex;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .section-title{
        padding: 100px;
        margin-right: 50px;

    }
    .section-sub-title, li{
        margin-bottom: 10px;
    }
    /* main-styles */
    .main-title{
        text-align: center;
    }
    .main-sub-title{
        display: flex;
    }
.main-description{
  margin: 0px 80px;
  
}
.main-img{
    color: azure;
    padding: 40px;
    margin: 50px 100px;
    background-image: url(images/watch.png);
}
.main-bag{
    background: image url(images/gradient2.png);
}
/* footer-styles */
.footer{
    display: flex;
    background-color: black;
    color: aliceblue;
}
.f-title{
    padding: 0px 150px;
}
.sub-btn{
    padding: 10px 15px;
    color: red;
    border-radius: 5px;
}
.email{
    color: white;
    background-color: black;
    border: white;
    padding: 10px 15px;
    margin: 2px;
}
/* fee-palaistain */
.filistin{
    display: flex;
    background-image: url(images/banner/banner2.png);
}
.pic-filistin2{
    padding: 100px;
    background: image url(images/gradient2.png);

}
.pic-filistin2 ul,li {
    margin-bottom: 10px;
    font-size: 30px;
}

    